* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.cursor-pointer {
  cursor: pointer;
}

footer {
  text-align: center;
  margin: 32px 0 12px 0;
  color: #888;
  font-size: 0.95rem;
}
